<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div style="margin-top: 15px">
        <h1>Anthony PSM Blog</h1>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/"> <h2 class="nav-link">Home<h2></a>
          </li>
          <li>
            <a href="/blog/"><h2 class="nav-link">Blog<h2></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>