<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
          <img width="250" height="75" src="../assets/logo.png" alt="">
        </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/"> <h2 class="nav-link">Home<h2></a>
          </li>
          <li>
            <a href="/blog/"><h2 class="nav-link">Blog<h2></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>